.bg-img {
    /* The image used */
    background-image: url("static/css/covidicon.jpg");

    width:100%;
    height:100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the header with an image and some padding */
.header {
overflow: hidden;
background-image: url("static/css/coronafondo.jpg");
background-repeat: no-repeat;
padding: 12px 10px;
width:100%;
height:165px;

position: fixed;
top: 0;
width: 100%;
z-index: 100;
}

.texto-borde {
/*-webkit-text-stroke: 2px rgb(18, 26, 59);*/
color:rgb(235, 245, 251);
font-family: 'Arial';
font-size: 3vw;
}

.dropdown-menu {
    max-height:120px;
    overflow:scroll;
    background-color:rgb(235, 245, 251);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 200px 250px;
    justify-content: center;
    grid-auto-rows: 50px;
    
}

.wrapper2{
    display: grid;
    grid-template-columns: 164px 1px 85px;
    justify-content: center;
    text-align: center;
    align-content: center;
     /*grid-column-gap: 10px; */
    background-color:#2471A3;
    font-family: 'Arial';
    border-right-color:rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(143, 182, 255);
    font-weight: bold;
}

.flexitem {
    position: fixed;
}
