{% extends './comunidades.html'%}

{% block title %} Castilla La Mancha {% endblock %}

{% block body %}
  <h1 class="texto-borde">CASTILLA LA MANCHA</h1>

{% endblock %}

{% block nombreccaa %}
Castilla La Mancha
{% endblock %}


{% block content0 %}
<div class='container'>
  <div class='wrapper'>
    <div class='wrapper2'>
      <div style="color:mintcream" >Contagios totales</div>
      <div style="background-color:mintcream"> </div>
      <!--Aquí habría que poner los casos en cada ccaa -->
      <div style="color:mintcream"> {{casos | safe}} </div>
    </div>

    <div> </div>
    
    <div class='wrapper2'>
      <div style="color:mintcream" >Defunciones totales</div>
      <div style="background-color:mintcream"> </div>
      <!--Aquí habría que poner las defunciones en cada ccaa -->
      <div style="color:mintcream"> {{defunciones | safe}} </div>
    </div>

    <div> </div>

    <div class='wrapper2'>
      <div style="color:mintcream" >Porcentaje contagios</div>
      <div style="background-color:mintcream"> </div>
      <!--Aquí habría que poner las defunciones en cada ccaa -->
      <div style="color:mintcream"> {{porcentaje| safe}} <span> % </span> </div>
    </div>

  </div>
  
</div>
{% endblock %}



{% block content1 %}
<link rel="stylesheet" href={{cdn_css_casos | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_casos | safe}}></script>

<link rel="stylesheet" href={{cdn_css_hosp | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_hosp | safe}}></script>

<link rel="stylesheet" href={{cdn_css_uci | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_uci | safe}}></script>

<link rel="stylesheet" href={{cdn_css_def | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_def | safe}}></script>

<div class='grid-container'>
  {{script_casos | safe}}
  {{div_casos | safe}} 

  {{script_hosp | safe}}
  {{div_hosp | safe}} 

  {{script_uci | safe}}
  {{div_uci | safe}} 

  {{script_def | safe}}
  {{div_def | safe}} 
  
</div>
{% endblock %}

{% block nombreccaa2 %}
Castilla La Mancha
{% endblock %}

{% block imagen_provincias %} 
  <img src="static/css/provincias_lamancha.jpeg" alt="" width="360" height="300"></img>
{% endblock %}


<!-- TABLA -->
{% block num_casos %} 
  {{num_casos | safe}}
{% endblock %}

{% block num_hosp %} 
  {{num_hosp | safe}}
{% endblock %}

{% block num_uci %} 
  {{num_uci | safe}}            
{% endblock %}

{% block num_def %} 
  {{num_def | safe}}           
{% endblock %}