{% extends './base.html'%}

{% block title %} documentacion {% endblock %}

{% block body %}
  <h1 class="texto-borde" >DOCUMENTACIÓN Y DATOS</h1>
{% endblock %}

{% block content0 %}

<div class='container background-color:"#FF0000"'>
  <b>Documentación</b>
      <p align="justify"> En el panel inicio se presenta información sobre el número de casos, hospitalizaciones y
        defunciones por semana, así como el número de casos, defunciones totales y porcentaje de contagios desde el inicio de la pandemia en España hasta el mes de mayo de 2021. Asimismo,
          se muestra la incidencia acumulada de los últimos 14 días registrados para cada Comunidad Autónoma.
       </p>
      <p align="justify"> A nivel estatal, se presentan el número de casos, defunciones totales y porcentaje de contagios para cada Comunidad Autónoma. También se puede
      visualizar el número de casos, hospitalizaciones, pacientes en UCI y defunciones por semana desde el inicio de la pandemia hasta la actualidad.
      La incidencia acumulada se representa para cada provincia de la Comunidad Autónoma en los últimos 14 días registrados.</p>

  <b>Datos</b>
      <p align="justify"> La información del panel de información sobre COVID-19 se ha obtenido a partir de la hoja de información
        científico-técnica sobre el COVID-19 del Ministerio de Sanidad: <span>  <a href="https://www.mscbs.gob.es/profesionales/saludPublica/ccayes/alertasActual/nCov/documentos/ITCoronavirus.pdf#:~:text=Los%20coronavirus%20son%20una%20familia,los%20animales%20a%20loshumanos." target="_blank">Enfermedad por coronavirus, COVID-19</a>
      </span>
      </p>

      <p align="justify"> Los resultados que se presentan en esta web se obtienen a partir de la declaración
        de los casos de COVID-19 gestionados por el Centro Nacional de Epidemiología (CNE). Los datos son
        actualizados periódicamente y se encuentran disponibles en: <span> <a href="https://cnecovid.isciii.es/covid19/#documentaci%C3%B3n-y-datos" target="_blank">Documentación y datos CNE</a></span>
        </p>

</div>

{% endblock %}

