{% extends './base.html'%}

{% block title %} Index {% endblock %}

{% block body %}
  <h1 class="texto-borde">INICIO</h1>

{% endblock %}

{% block flex1 %}
<div class='flexitem'>
    <div>
        <p>Curvas epidémicas del periodo total de la pandemia en España</p>
    </div>
</div>
{% endblock %}


{% block content0 %}
<div class='container'>
  <div class='wrapper'>
    <div class='wrapper2'>
      <div style="color:mintcream" >Contagios totales</div>
      <div style="background-color:mintcream"> </div>
      <div style="color:mintcream"> {{casos | safe}} </div>
    </div>

    <div> </div>

    <div class='wrapper2'>
      <div style="color:mintcream" >Defunciones totales</div>
      <div style="background-color:mintcream"> </div>
      <div style="color:mintcream"> {{defunciones | safe}} </div>
    </div>

    <div> </div>

    <div class='wrapper2'>
      <div style="color:mintcream" >Porcentaje contagios</div>
      <div style="background-color:mintcream"> </div>
      <div style="color:mintcream"> {{porcentaje| safe}} <span> % </span> </div>
    </div>

  </div>
  
</div>

{% endblock %}

{% block content1 %}
<link rel="stylesheet" href={{cdn_css_casos | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_casos | safe}}></script>

<link rel="stylesheet" href={{cdn_css_hosp | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_hosp | safe}}></script>

<link rel="stylesheet" href={{cdn_css_def | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_def | safe}}></script>

<div class='grid-container'>
  {{script_casos | safe}}
  {{div_casos | safe}} 

  {{script_hosp | safe}}
  {{div_hosp | safe}} 

  {{script_def | safe}}
  {{div_def | safe}} 
  
</div>

<div> 
  <p align="justify" style="font-size:x-small; font-style: italic; color:dimgray">* Gráficos de número de contagios, pacientes hospitalizados y defunciones por semana en España desde el 1 de enero de 2020.
    <br>
    Datos obtenidos a partir de la información proporcionada por el Ministerio de Sanidad como se indica en el apartado de Documentación y Datos. Todos los resultados son provisionales y deben interpretarse con precaución porque se ofrece la información disponible en el momento de la extracción de datos. Última fecha: 1 de mayo de 2021. </p>
</div>

{% endblock %}

{% block flex2 %}
<div class="flexitem">
  <div>
      <p>Incidencia acumulada de los últimos 14 días registrados en España</p>
  </div>
</div>
{% endblock %}

{% block content2 %}
<link rel="stylesheet" href={{cdn_css_inac | safe}} type="text/css" />
<script type="text/javascript" src={{cdn_js_inac | safe}}></script>
  
<div class='grid-container2'>
  <div class='grid-container3'>
    <img src="static/css/incidencia_acumulada_inicio.png" alt="" width="460" height="405"></img>
    <div style="background-color:dimgray"> </div>
    <p align="justify" style="font-size:x-small; font-style: italic; color:dimgray">* Gráfico de barras de la incidencia acumulada en cada CA por 100 mil habitantes en el periodo de 14 días, hace una semana. 
      <br>
      Datos obtenidos a partir de la información proporcionada por el Ministerio de Sanidad como se indica en el apartado de Documentación y Datos. Todos los resultados son provisionales y deben interpretarse con precaución porque se ofrece la información disponible en el momento de la extracción de datos. Última fecha: 1 de mayo de 2021. </p>
    </div>

  <div style="background-color:rgb(34, 34, 73)"> </div>

  <div>
    <b>¿Qué es la incidencia acumulada y cómo se calcula?</b>
    <p align="justify">La incidencia acumulada de 14 días se obtiene dividiendo el número de casos registrados en ese período entre el número de personas que están libres de la enfermedad al inicio de dicho período. Para que se pueda conocer el estado de una región independientemente de la población, y obtener una mejor comparación el criterio se fija en 100.000 habitantes.</p>
    <p align="justify">El Ministerio de Sanidad y las comunidades autónomas establecen cuatro niveles de alerta como indicadores para el control de la pandemia. Cuando la incidencia acumulada a 14 días está por debajo de 20 se considera nueva normalidad. Cuando la IA está entre 20 y 50 se considera que el riesgo es bajo, entre 50 y 150 el riesgo es medio, el riesgo alto se considera cuando se sitúa entre 150 y 250 y el riesgo es extremo cuando es superior a 250.</p>
  </div>
    

</div>

{% endblock %}
