{% extends './base.html'%}

{% block title %} infocovid {% endblock %}

{% block body %}
  <h1 class="texto-borde" >INFORMACIÓN SOBRE COVID-19</h1>
  
{% endblock %}

{% block content0 %}
<div class='container background-color:"#FF0000"'>
  <b>¿Qué es el COVID-19 y cómo se transmite?</b>
      <p align="justify"> Los coronavirus son una familia de virus que causan infección en los seres humanos y en una
      variedad de animales, incluyendo aves y mamíferos como camellos, gatos y murciélagos. Se trata
      de una enfermedad zoonótica, lo que significa que pueden transmitirse de los animales a los
      humanos. Algunas de estas cepas son ya conocidas y anteriores a la actual, como la causante del síndrome respiratorio
      agudo severo (SRAS). A estas, se añade ahora la cepa del SARS-CoV2, también llamado coronavirus, causante de la enfermedad
      denominada COVID-19.</p>
      <p align="justify"> Con la evidencia científica acumulada, se considera que SARS-CoV-2 puede transmitirse de
      persona a persona por diferentes vías, siendo la principal mediante el contacto y la inhalación de
      las gotas y aerosoles respiratorios emitidos por un enfermo hasta las vías respiratorias superiores
      e inferiores de una persona susceptible. También se puede producir el contagio por contacto
      indirecto a través de las manos u objetos contaminados las secreciones respiratorias del enfermo
      con las mucosas de las vías respiratorias y la conjuntiva del susceptible. La transmisión vertical a
      través de la placenta también es posible, aunque poco frecuente. Otras vías de transmisión son
      muy improbables. </p>
  <b>Síntomas</b>
      <p align="justify"> Los síntomas y signos más frecuentes incluyen: fiebre (87,9%), tos seca (67,7%), astenia
      (38,1%), expectoración (33,4%), disnea (18,6 %), dolor de garganta (13,9%), cefalea (13,6%),
      mialgia o artralgia (14,8%), escalofríos (11,4%), náuseas o vómitos (5 %), congestión nasal (4,8%),
      diarrea (3,7%), hemoptisis (0,9%) y congestión conjuntival (0,8%).</p>
  <b>Vacunación en España</b>
      <p align="justify"> El objetivo marcado por el Gobierno es alcanzar el 70 % de la población española inmunizada
        a final del verano.</p>


</div>

{% endblock %}